<% if @comment.valid? %>
  $('#new_comment').remove();
  $('#comments-<%= @commentable.class.name %>-<%= @commentable.id %> .comments-list').append(
    "<div id='comment-<%= @commentable.class.name %>-<%= @comment.id %>'>" +
      "<%= j render 'comments/comment', comment: @comment, commentable: @commentable %>" +
    "</div>"
  );
  $('#comment-errors').html('');
<% else %>
  $('#comments-<%= @commentable.class.name %>-<%= @commentable.id %>').html(
    "<%= j render 'comments/form' %>"
  );
<% end %>
